.container {
  margin: 0 auto;
  max-width: 960px;
}

.row {
  text-align: center;
}

.navbar-inverse, .navbar-nav>li>a {
  background-color: #354461;
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #465A7F;
  color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-toggle {
  border-color:#141A32;
}

.navbar-inverse .navbar-toggle:hover {
  background-color:#141A32;
}

.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 20px
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px
}

.bs-docs-footer-links li:first-child {
    padding-left: 0
}

@media (min-width:768px) {
    .bs-docs-footer p {
        margin-bottom: 0
    }
}

a {
  color:#141A32;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#465A7F;
}
