@import url(main.css);


#educationContainer,#techBackgroundContainer,#employmentContainer {
    margin-bottom: 5px;
}

#techBackgroundContainer,#employmentContainer {
    margin-top: 5px;
}

div h1,h3,li,p {
    text-align: center;
}

#pardotURL a,#anmURL a,#csURL a {
    color: rgb(8, 51, 230);
}

#pardotURL a:hover,#anmURL a:hover,#csURL a:hover {
    color: rgb(9, 38, 155);
}

#pardotURL a:visited,#anmURL a:visited,#csURL a:visited {
    color: rgb(9, 38, 155);
}
