<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}/about">
                <img id="avatar" class="2x" src="{{ site.baseurl }}/assets/images/avatar.jpg"/>
            </a>
        {% else %}
            <img id="avatar"  src="{{ site.baseurl }}/assets/images/avatar.jpg"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <div style="text-align:center;margin-top: 20px;">
                <ul>
                    <li style="display:inline-block;">
                        <a class="big-download-button" href="mailto:akeaswaran@gatech.edu">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li style="display:inline-block;">
                        <a href="https://www.linkedin.com/in/akeaswaran" class="big-download-button">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li style="display:inline-block;">
                        <a href="https://github.com/akeaswaran/" class="big-download-button">
                            <i class="fa fa-github fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    </section>
</div>
