---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        {% if page.date %}
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
        {% endif %}
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<div id="post-meta" class="clearfix container-fluid">
    <div class="row">
        <div id="col1" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img class="avatar" src="{{ site.baseurl }}/assets/images/avatar.jpg">
                </div>

                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <span class="dark">{{ site.author }}</span>
                    <span>{{ site.description }}</span>
                </div>
            </div>
        </div>
        <div id="col2" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <section id="sharing">
                {% include share.html %}
            </section>
        </div>
    </div>
</div>
<p class="small" style="text-align: center;">© {{ site.time | date: '%Y' }} {{ site.author }}</p>

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d %y" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
