
/* Social Media buttons */

#facebook {
    width: 190px;
    display: block;
    margin: 0 auto;
    height: 48px;
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 8px;
    line-height: 2;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 3px;
    font-weight: lighter;
    background: #89adf7;
}

#twitter {
    width: 190px;
    display: block;
    margin: 0 auto;
    height: 48px;
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 8px;
    line-height: 2;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 3px;
    font-weight: lighter;
    background:#b7e1f1;
}

#pinterest {
    width: 190px;
    display: block;
    margin: 0 auto;
    height: 48px;
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 8px;
    line-height: 2;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 3px;
    font-weight: lighter;
    background:#f69479;
}

#insta {
    width: 190px;
    display: block;
    margin: 0 auto;
    height: 48px;
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 8px;
    line-height: 2;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 3px;
    font-weight: lighter;
    background:#f0dea8;
}
