body {
    background: #191919;
    color: white;
}

.container {
    width: 1350px;
    max-width: none !important;
}

.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 20px;
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px;
}

.bs-docs-footer-links li:first-child {
    padding-left: 0
}

@media (min-width:768px) {
    .bs-docs-footer p {
        margin-bottom: 0
    }
}

.main-img {
    float: left;
}

.titles {
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
}

.titles h1 {
    font-size: 80px;
    margin-bottom: 0px;
}

.titles h2 {
    font-size: 40px;
    margin-top: 0px;
}
