body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 75px; padding: 0; border: 0;
}

body {
	font: 14px Helvetica, Sans-Serif; line-height: 24px; color: #ffffff;
	background: rgb(25, 25, 25);
}

#app-store {
    width: 168px;
    height: 58px;
    background: url(images/app-store.png);
    background-size:100%;  
    float: left;
    z-index: 10;
}

#container {
	width: 960px; margin: 0 auto 24px auto; background: #EBEBEB; 
    position: relative;
}

a {
	color: #EBEBEB; text-decoration: none;
}

a:hover {
		color: #d4dee3;
}
    
header h1 {
	margin: 54px 0 0 25px; 
}

header nav {
	float: left;
	margin: 25px 0 17px 0;
}
	header nav ul li {
		float: left; list-style: none;
		width: 58px; margin: 0 0 0 98px;
	}
		header nav ul li a {
			text-transform: uppercase;	
		}
    #feature {
	clear: both; height: 600px; overflow: hidden; margin: 0 0 48px 0;
	background: #000;
    
    background:url(images/COUNTR.png);
    background-size:96%;
}
	
	#feature img {
		float: right; margin: 0px 0 0 0;
	}
	#feature-info {
		float: right; margin: 490px 10px 10px 510px;
        color:#000;

	}
		#feature-info p {
			margin: 0 0 15px 0; font-size: 16px;
		}
	
    footer {
	width: 960px; margin: 0 auto; height: 80px;
    align-content: center;
	font-size: 12px;
   
}
	footer #copyright {
		float: right; margin: 0 0 0 22px;
	}
	
	footer ul {
        margin: 0 0 0 134px; list-style: none; overflow: hidden;
        float: left;
		
	}
		footer li {
			float: left; margin: 0 10px 0 10px;
            
		}
	
	footer #back-top {
		float: right; margin: 0 22px 0 0;
        
	}
		